# 404 Redirect
ErrorDocument 404 http://localhost/DatabaseLaureati/pages/error

# Url Rewrite
<IfModule mod_rewrite.c>

    Options +FollowSymLinks
    RewriteEngine On

	RewriteRule ^([^/]*)/$ ?controller=$1&action=index [L]
	RewriteRule ^([^/]*)/([^/]*)$ ?controller=$1&action=$2 [L]
	RewriteRule ^([^/]*)/([^/]*)/([^/]*)/$ ?controller=$1&action=$2&id=$3 [L]

</IfModule>